<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Manage Events
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="selectEventForm">
      <mat-form-field>
        <mat-label> Select an Event to modify.</mat-label>
        <mat-select [formControlName]="selectedEventFieldName">
          <mat-option *ngFor="let event of events" [value]="event.Id">{{event.Id}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <div *ngIf="selectedEvent">
      <h3>Add Users to Event:{{selectedEvent.Id}}</h3>

      <form [formGroup]="eventUsersAddForm">
        <div *ngFor="let userNotInEvent of usersNotInEvent">
          <mat-checkbox [formControlName]="userNotInEvent.Id">
            {{userNotInEvent.firstName}} {{userNotInEvent.lastName}} - {{userNotInEvent.email}}
          </mat-checkbox>
        </div>
      </form>
      <h3>Remove Users from Event:{{selectedEvent.Id}}</h3>

      <form [formGroup]="eventUsersRemoveForm">
        <div *ngFor="let userInEvent of usersInEvent">
          <mat-checkbox [formControlName]="userInEvent.Id">
            {{userInEvent.firstName}} {{userInEvent.lastName}} - {{userInEvent.email}}
          </mat-checkbox>
        </div>
      </form>
      <button mat-raised-button color="primary" (click)="submitChanges()">Submit</button>
      <button *ngIf="!selectedEvent.open" mat-raised-button color="primary" (click)="createEventSchedule()">Create Schedule For Event</button>

      <div>Women Schedule</div>
      <div *ngIf=selectedEventWomenCsv>
        <div *ngFor="let csvLine of selectedEventWomenCsv">
          {{csvLine}}
        </div>
        <br/>        
      </div>
      <div>Men Schedule</div>
      <div *ngIf=selectedEventMenCsv>
        <div *ngFor="let csvLine of selectedEventMenCsv">
          {{csvLine}}
        </div>
        <br/>        
      </div>
      <button *ngIf="selectedEvent.hasSchedule &&!selectedEvent.scheduleFinalized" mat-raised-button color="primary" 
        (click)="finalizeSchedule()">Finalize Schedule</button>

  </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        All Registered Users:
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div *ngFor="let user of users">
      <div>
        {{user.firstName}} {{user.lastName}} - {{user.email}}
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>