<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary" fxLayout="row">
    <span fxLayout="column" fxFlex="100">
        <div fxLayoutAlign ="center center">
            <span>St. Alphonsus Speed Dating Version 1.2</span>
        </div>
        <div fxLayout="row">
            <a  *ngIf="loggedIn" mat-button color="accent" routerLink="home">Home</a>
            <a mat-button color="accent" routerLink="login">Login</a>
            <a mat-button color="accent" routerLink="createAccount">Create Account</a>
            <a *ngIf="isAdmin" routerLink="admin" mat-button color="accent">Admin</a>

        </div>
    </span>
</mat-toolbar>
<router-outlet fxLayoutAlign="flex-start"  fxLayout="row" ></router-outlet>